.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
div h2 {
  padding: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.about p {
  color: var(--paragraph-color);
}

@media (max-width: 991px) {
  .mobile-image-hidden {
    display: none;
  }
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: var(--hover-main-color) !important;
  border-color: var(--main-color) !important;
}
