* {
  box-sizing: border-box;
}

:root {
  --main-color: #0d6efd;
  --main-color-rgb: 13, 110, 253;
  --hover-main-color: #0056b3;
  --secondary-color: #f6f6f6;
  --paragraph-color: #777;
  --footer-color: #979797;
  --main-duration: 0.3s;
  --section-padding: 60px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--secondary-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--hover-main-color);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-mode {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.btn.btn-primary {
  background-color: var(--main-color);
  border: var(--main-color);
}
.btn.btn-primary:focus {
  background-color: var(--hover-main-color);
  outline: var(--hover-main-color);
  box-shadow: 0 0 0.25rem var(--hover-main-color);
}

.btn.btn-primary:hover {
  background-color: var(--hover-main-color);
}

.success,
.error {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* Start of Styling Form */
form {
  width: fit-content !important;
  padding: 40px !important;
  border-radius: 10px;
  border: 0px solid var(--main-color);
  box-shadow: 0px 0px 4px var(--main-color);
  background-color: var(--secondary-color);
}

.user-input {
  box-sizing: border-box;
  caret-color: var(--main-color);
}

.form-select {
  margin: 0 auto;
  text-align: center;
}

.user-input,
.form-select {
  width: 375px !important;
  height: 37px !important;
  border: 1px solid var(--main-color) !important;
  transition: var(--main-duration) !important;
  -webkit-transition: var(--main-duration) !important;
  -moz-transition: var(--main-duration) !important;
  -ms-transition: var(--main-duration) !important;
  -o-transition: var(--main-duration) !important;
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

@media (max-width: 767px) {
  .user-input,
  .form-select {
    width: 300px !important;
  }

  .form-select,
  .user-input,
  .btn-login {
    width: 250px !important;
  }
}

.user-input:focus {
  outline: none;
}

.form-select option {
  color: #757575;
}
input:focus::placeholder {
  opacity: 0;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

.title-login {
  color: var(--main-color);
  font-family: "Almarai";
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
.btn-login {
  height: 46px;
  width: 375px;
  border-radius: 9px;
  border: none;
  color: var(--secondary-color);
  background-color: var(--main-color);
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}

@media (max-width: 767px) {
  .btn-login {
    width: 300px;
  }
}

.btn-login:hover {
  color: white;
  background-color: var(--hover-main-color);
}

.change-link {
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.change-link:hover {
  color: var(--hover-main-color);
  text-decoration: underline;
}

form .error,
form .success {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
select:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--main-color-rgb), 0.25) !important;
}

/* End of Styling Form */

@media (max-width: 767px) {
  table thead,
  table tbody {
    font-size: 13px !important;
  }
}
table .btn {
  padding: 4px 8px !important;
}
.add-teacher .form-select {
  margin: 0;
}

.add-teacher p span {
  font-size: 15px;
}

.text-primary {
  color: var(--main-color) !important;
}
