.add-student {
  background: var(--secondary-color);
  border-radius: 10px;
  width: fit-content;
  margin: 10% auto;
  padding: 30px;
  border: 1px solid;
}

@media (max-width: 767px) {
  h3 {
    font-size: 20px !important;
  }
  .add-std p span {
    font-size: 15px;
  }

  .add-student {
    padding: 25px !important;
    label {
      font-size: 17px;
    }
  }

  .table .btn {
    padding: 4px 8px !important;
  }
}
