.form-add-update {
  background: var(--secondary-color);
  border-radius: 10px;
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 1px solid var(--main-color);
}

@media (max-width: 767px) {
  h3 {
    font-size: 20px !important;
  }
  .add-update p span {
    font-size: 15px;
  }

  .form-add-update {
    padding: 25px !important;
    label {
      font-size: 17px;
    }
  }

  .table .btn {
    padding: 4px 8px !important;
  }
}

.Toastify__toast .Toastify__toast-icon {
  margin-right: 20px;
}
