.table {
  padding: 20px !important;
  width: 80% !important;
  overflow-x: auto;
}

.table h3 {
  color: var(--main-color);
}

@media (max-width: 767px) {
  .table h3 {
    font-size: 20px;
  }
  .table p span {
    font-size: 15px;
  }
  table thead,
  table tbody {
    font-size: 13px;
  }
}
